@charset "UTF-8";

/*Importando fonte externa
google*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*Importando fonte externa a parti da pasta */

@font-face{
   font-family:'Android';
   src: url('../fontes/idroid.otf') format('opentype');
   font-weight: normal;

}

/*Pseudo classe (root): Raiz da árvore do documento
tudo que for colocado no root servirá para o documento
inteiro*/
:root{
   /*
      Definindo variáveis para as cores
      observe que para criação da variável
      começar com "--+"nome da variável"= "valor"
      com isso em vez de referenciar ao código de cores HEX
      apenas aponte o nome da váriável que etara listada 

   */
   --cor0:#c5ebd6;
   --cor1:#83e1ad;
   --cor2:#3ddc84;
   --cor3:#2fa866;
   --cor4:#1a5c37;
   --cor5:#063d1e;

   --fonte-padrao:Arial, Verdana, Helvetica, sans-serif;
   --fonte-destaque:'Bebas Neue', cursive;
   --fonte-android:'Android', cursive;
}   

/*Limpando todas as margins e paddings dos elementos
herdadas das configurações globais do navegador*/
*{
   margin:0px;
   padding:0px;
}

body{
   /*Apontando a variável da cor criada no root*/
   background-color: var(--cor0); 
   font-family: var(--fonte-padrao);
}

/*Configurando links externos
  com CLASSE.
  observer o after(após) com um espaço (00A0).
*/
a.externo::after{
   content: '\1F517\00A0';

}

header{
   background-image: linear-gradient(to bottom, var(--cor3), var(--cor5) ); /*Background gradiente*/
   min-height: 150px; /*Adequar visualização em qualquer dispositivo*/
   text-align: center;
   padding-top: 40px;

}

header > p{
   color: white;
   margin:auto; /*centraliza*/
   padding-right: 10px;
   padding-left: 10px;
   max-width: 500px; /*Determina largura máxima */
   text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);

}


header > h1{
   color:white;
   font-family: var(--fonte-destaque);
   margin-bottom: 20px;
   font-family: var(--fonte-padrao);
   font-size: 1,3em;
   text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
  
  
}

nav{
   background-color: var(--cor5);
   padding: 10px;
   box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.562);
}

/*Estilizando LINK dentro de nav*/
nav > a{
   color: white;
   padding: 10px;
   text-decoration: none;
   font-weight: bold;
   border-radius: 5px; /*Arredondamento dos cantos*/
   transition-duration:0.5s; /*Aplica um tempo de transição ao efeito*/
}

/*Efeito ao mover o mouse sobre o menu (link)*/
nav > a:hover{
   background-color: var(--cor3);
   color:var(--cor5);
}


/*Conteúdo principal*/
main{

   min-width: 300px;
   max-width: 1000px;
   margin: auto;/*centraliza o conteúdo principal*/
   padding: 20px; /*alcochoamento das margens do conteúdo principal*/
   margin-bottom: 30px; /*Margem do rodapé, para não ficar colado no conteúdo principal*/
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   background-color: white;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.233);/*borda sem deslocamente, apenas com espelhando */

}

main  h1{
   color:var(--cor5);
   font-family: var(--fonte-android);
}

main h2{
   font-family: var(--fonte-android);
   color: var(--cor4);
   font-size: 1.3em;
   background-image: linear-gradient(to right, var(--cor1), transparent);
   text-indent: 10px;
}

/*Configurando as imagens dentro do main*/
main img{
   width: 100%;/*Largura independente do conteúdo*/

}

/*Configura a imagem do conteúdo main com a classe pequena*/
main img.pequena{
   max-width:350px ; /*Ao reduzir a imagem ao chegar a 350px manterá esse tamanho (largura*/

   /*alinhando a imagem ao centro, como não se trata de um conteúdo que não é um bloco
   não resolve cologar margin como auto
   para isso deixa como bloco e após isso centralize com o display block
   */
   display: block;
   margin:auto;

}


/*Configuração de parágrafo dentro do main em qualquer nível (não usar o main > P*/
main p{
   margin:15px 0px; /*Defini margem entre os parágrafos*/
   text-align: justify;
   text-indent:30px;/*Recuo dos parágrafos*/
   line-height:2em; /*Altura da linha (espaços entre as linhas*/
   font-size: 1.1em; /*Tamanho do texto consdierando o espaço entre linhas*/
   
}

/*Configura tudo que estiver em negrito*/
main strong{
   color: var(--cor4);
   font-weight: bold;
   background-color: var(--cor1);
   padding: 2px 6px;

}

/*Configura os links do conteúdo (main)*/
main a{
   text-decoration: none;
   font-weight: bold;
   color:var(--cor5);
   background-color: var(--cor1);
   padding: 3px 6px;
}


/*Configura links do main*/
main a:hover{
 text-decoration: underline;
 color: var)var(--cor3);

}


/*Configuração do Aside*/
aside{
   background-color:var(--cor1);
   padding: 10px;
   border-radius: 10px;
   box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}

/*Configuração das LISTAS dentro do aside*/
aside > ul{
   list-style-position:inside; /*Marcadores das listas para o ladro de dentro*/
   columns: 2; /*Divide a linha em duas colunas*/
   list-style-type: '\2714\00a0\00a0';/*personaliza marcadores da lista 
   extraido do site emogipedia (não compatível com todos os navegadores
   com espaços. Observe os códigos (\00a0\00a0") definem dois espaços*/
   
}


/*Configurando o h3 dentro do aside*/
aside > h3{
   background-color: var(--cor4);
   color: white;
   padding:10px;
   margin: -10px -10px 0px -10px;
   border-radius: 10px 10px 0px 0px;
   
}

footer{
   background-color: var(--cor5);
   color:white;
   text-align: center;
   font-size: 0.8em;
   padding: 5px;
}

/*Link do footer
  Todo link dentro do parágrafo 
  uma opção que pode usar além da que 
  consta abaixo é:
  "footer > p > a"
*/
footer > p > a{
   color: white;
   font-weight: bold;
   text-decoration: none;

}

/*Efeito ao mover mouse sobre o link*/
footer a:hover{
   text-decoration: underline;
   color: var(--cor1);
}